* {
    border-color: red;
    border-style: none;
    border-width: 1px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
}

article {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 65px 1fr 1fr;
    gap: 1rem;
    margin: 0 2rem;
    max-height: 600px;
}

div {
    background-color: #99949B;
}

article h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #99949B;
    padding: 0 20px;
}

article div:first-of-type {
    grid-row-start: 2;
    grid-row-end: 4;
}

div img.mainImg {
    min-width: 100%;
    height: auto;
    max-height: 45%;
}

div.newsFlash {
    display: flex;
    min-height: 100%;
}

p.newsFlashText {
    max-width: 95%;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.mainNewsFlash p.newsFlashText {
    max-width: 100%;
    -webkit-line-clamp: 5;
}

div img.secondaryImg {
    min-width: 40%;
    min-height: 100%;
}

div .newsFlashContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    margin: 0;
}