img.indexMainImg {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: 25% 50%;
}

@media screen and (max-width: 601px) {
    img.indexMainImg {
        min-height: 90vh;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.mainImgContainer {
    position: relative;
    text-align: center;
  }

  .centered {
    position: absolute;
    top: 290px;
    right: 350px;
    color: white;
    font-size: 5.5vh;
    font-weight: 400;
  }