* {
    border-color: red;
    border-style: none;
    border-width: 1px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 10rem 2rem 10rem;
}

/* Main grid template */
article {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 65px 1fr 1fr;
    gap: 2rem;
    margin: 3em 12% 3em;
    max-height: 600px;
}

article h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #232750;
    font-weight: 900;
    font-size: 3rem;
    padding: 0.1em 2em;
    margin: 0 0 0 0;
    text-transform: uppercase;
    color: #f3f3f3;
    border-radius: 10px;
}

h3.mainFlashTitle, p.date {
    margin: 0 10px 10px;
}

h3.flashTitle {
    margin: 0 10px 15px;
}

article div:first-of-type {
    grid-row-start: 2;
    grid-row-end: 4;
}

div img.mainImg {
    min-width: 93.5%;
    height: auto;
    max-height: 45%;
    margin: 10px;
    border-radius: 20px;
    aspect-ratio: 2/3;
}

div img.secondaryImg {
    min-width: 40%;
    min-height: 100%;
    border-radius: 20px;
}

div.newsFlash {
    display: flex;
    min-height: 100%;
}

p.newsFlashText {
    max-width: 95%;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 10px;
}

div.mainNewsFlash p.newsFlashText {
    max-width: 100%;
    -webkit-line-clamp: 8;
}

div .newsFlashContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-height: 100%;
    margin: 0 10px;
    border-radius: 20px;
}

.mainNewsFlash {
    border-radius: 20px;
}

.newsFlash {
    border-radius: 20px;
}

/* Animation */

div.mainNewsFlash, div.newsFlash {
    transition: box-shadow 0.8s ease-in-out;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    background-color: white;
}

div.mainNewsFlash:hover, div.newsFlash:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 30px 40px rgba(0,0,0,0.3)
}
