*{
    font-family: Avenir, sans-serif;
}


nav{
    
    float:right;
    width: 70%;
    height:100%;
    animation: apparition 1s ease-out;
}

nav ul{
    margin: 0;
    list-style-type: none;
}

nav ul li{
    float: right;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{

    margin-top : 2rem;
    display: block;
    text-decoration: none;
    color: #FEFACC;
    border-bottom: 2px solid transparent;
    font-size: 1.5rem;

}

nav a:hover{
    color: orange;
    border-bottom: 2px solid #E4AF69;
}

.sous{
    display: none;
    box-shadow: 0px 1px 1px #CCC;
    background-color: #232750;
    position: absolute;
    width: 100%;
    z-index: 1000;
    
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align:center ;
 
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color:#232750;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 1rem;
}

#logo{
    padding-top: 0.5rem;
    width:8rem;
    margin-left: 2rem;
    animation: apparition 1s ease-out;
}

div.nav{
    height:6rem;
    background-color: #232750;
}

@keyframes apparition{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
