body.footerBody {
  margin: 0;
  margin-top: 0;
}

footer {
  height: 3.5rem;
  background-color: #232750;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}
footer a {
  font-family: "Iceland", cursive;
  color: #fefacc;
  text-decoration: none;
}

footer a:hover {
  font-size: 130%;
  text-decoration: underline;
  color: #fefacc;
}

#rainbow{

  background-image:none; 
}

/* RESPONSIVE */

@media screen and (max-width: 480px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }

}
