* {
    border-color: red;
    border-style: none;
    border-width: 1px;
}

section.indexSection {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}

/* Main grid template */
article.indexGrid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 3.05em 1fr 1fr;
    gap: 4%;
    margin: 0 12%;
    max-height: 600px;
}

div.h2container {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #090B3C;
    padding: 0;
    margin: 0 0 0 0;
    color: #f3f3f3;
    border-radius: 10px;
}

h2.indexH2 {
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Iceland';
    font-weight: 500;
}

article div.mainNewsFlash {
    grid-row-start: 2;
    grid-row-end: 4;
}

div.mainImgContainerIndex {
    width: 100%;
    height: 55%;
    border-radius: 25px;
    overflow: hidden;
    border-width: 10px;
    border-style: solid;
    border-color: white;
}

div img.mainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out;
}

div.imgContainerIndex {
    width: 60%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

img.secondaryImg {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out;
}

div.newsFlash {
    height: 100%;
}

div.newsFlashContainer {
    display: flex;
    height: 100%;
}

p.newsFlashText {
    max-width: 95%;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0;
}

div.mainNewsFlash p.newsFlashText {
    width: 100%;
    -webkit-line-clamp: 7;
}

div.mainNewsFlashContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    padding: 0 20px;
}

div .newsFlashContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 1em;
}

.mainNewsFlash, .mainNewsFlashContainer {
    border-radius: 20px;
}

.newsFlash, .newsFlashContainer {
    border-radius: 20px;
}

.mainNewsFlashContainer {
    height: 100%;
}

/* Animation */

div.mainNewsFlashContainer, div.newsFlashContainer {
    transition: box-shadow 0.8s ease-in-out;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}


div.mainNewsFlashContainer:hover, div.newsFlashContainer:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.3)
}

div.newsFlashContainer:hover {
    transform: scale(1.15, 1.15)
}

div img.secondaryImg:hover, div img.mainImg:hover {
    transform: scale(1.2, 1.2);
}

/* more button */

div.buttonContainerIndex {
    margin: 2em 9% 2em auto;
}

button.buttonIndex {
    padding: 1em 2em;
    border-radius: 20px;
    color: #f3f3f3;
    background-color: #090B3C;
}

/* active main news flash design */
div.mainNewsFlash.active:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .9;
    background-color: #000;
}


div.mainNewsFlash.active div.mainNewsFlashContainer {
    position: fixed;
    width: auto;
    height: 80vh;
    top: 10%;
    left: 15%;
    right: 15%;
    bottom: 10%;
    margin-top: 0;
    margin-left: 0;
    font-size: 1.7em;
}

div.mainNewsFlash.active div.mainNewsFlashContainer h3 {
    font-size: 2em;
}

div.mainNewsFlash.active div.mainNewsFlashContainer {
    display: flex;
}

div.mainNewsFlash.active div.mainImgContainerIndex {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-width: none;
    border-style: none;
    border-color: none;
}

div.mainNewsFlash.active div.mainNewsFlashContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 30px;
}

div.mainNewsFlash.active p.newsFlashText {
    max-width: 100%;
    -webkit-line-clamp: 14;
}

/* active secondary newsflash design */

div.newsFlash.active:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .9;
    background-color: #000;
}


div.newsFlash.active div.newsFlashContainer {
    position: fixed;
    width: auto;
    height: 80vh;
    top: 10%;
    left: 15%;
    right: 15%;
    bottom: 10%;
    margin-top: 0;
    margin-left: 0;
    font-size: 1.7em;
}

div.newsFlash.active div.newsFlashContainer p.newsFlashText {
    -webkit-line-clamp: 12;
}

div.newsFlash.active div.newsFlashContainer h3 {
    font-size: 2em;
}

div.imgContainerIndex {
    width: 100%;
}

/* active newsflash animation disablers*/

div.mainNewsFlash.active, div.newsFlash.active {
    transition: none;
    transition: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

div.mainNewsFlash.active div.mainNewsFlashContainer:hover, div.newsFlash.active div.newsFlashContainer:hover {
    transform: none;
    transition: none;
    transition: none;
}

div.newsFlash.active div.newsFlashContainer:hover {
    transform: none;
}

/* media breakpoint 601 - 1300px */

@media screen and (max-width: 1300px) and (min-width: 601px) {
    article.indexGrid {
        grid-template-columns: 48% 48%;
        grid-template-rows: 7vw 1fr 1fr 1fr;
        gap: 4%;
        max-height: 1000px;
        margin: 0 10%;
    }

    div.h2container {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }

    article div.mainNewsFlash {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    article div.mainNewsFlash {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    h2.indexH2 {
        justify-content: center;
        padding: 0;
    }

    div.mainImgContainerIndex {
        width: 80%;
        height: 100%;
    }

    div img.secondaryImg {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }

    div.mainNewsFlashContainer {
        display: flex;
    }

    div.mainNewsFlashContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 20px 10px;
        border-radius: 20px;
        font-size: 20px;
    }

    h3.mainFlashTitle {
        font-size: 1.5em;
    }

    p.newsFlashText {
        -webkit-line-clamp: 3;
    }

    div.mainNewsFlash p.newsFlashText {
        -webkit-line-clamp: 4;
    }

    /* active main news flash design */

    div.mainNewsFlash.active div.mainNewsFlashContainer {
        position: fixed;
        width: auto;
        height: auto;
        top: 6%;
        left: 8%;
        right: 8%;
        bottom: 6%;
        margin-top: 0;
        margin-left: 0;
    }

    div.mainNewsFlash.active div.mainNewsFlashContainer {
        display: flex;
        flex-direction: column;
    }

    div.mainNewsFlash.active div.mainImgContainerIndex {
        width: 100%;
        height: 40%;
        display: block;
    }

    div.mainNewsFlash.active img.mainImg {
        object-position: top;
    }

    div.mainNewsFlash.active div.mainNewsFlashContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 60%;
        padding: 30px;
        font-size: 1em;
    }

    div.mainNewsFlash.active h3.mainFlashTitle {
        text-align: center;
    }

    div.mainNewsFlash.active p.newsFlashText {
        -webkit-line-clamp: 8;
    }

    /* active secondary newsflash design */

    div.newsFlash.active:before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .9;
        background-color: #000;
    }
    
    div.newsFlash.active div.newsFlashContainer {
        position: fixed;
        width: auto;
        height: auto;
        top: 6%;
        left: 8%;
        right: 8%;
        bottom: 6%;
        margin-top: 0;
        margin-left: 0;
    }
    
    div.newsFlash.active div.newsFlashContainer {
        display: flex;
        flex-direction: column;
    }

    div.newsFlash.active div.imgContainerIndex {
        width: 100%;
        height: 40%;
        display: block;
    }

    div.newsFlash.active div.newsFlashContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 60%;
        padding: 30px;
        font-size: 1em;
    }

    div.newsFlash.active h3 {
        text-align: center;
    }

    div.newsFlash.active div.newsFlashContent p.newsFlashText {
        -webkit-line-clamp: 8;
    }

}
    

/* media break point under 600px */

@media screen and (max-width: 600px) {
    article.indexGrid {
        grid-template-columns: 48% 48%;
        grid-template-rows: 8vw 35vw 28vw 28vw;
        gap: 4%;
        max-height: 1200px;
        margin: 0 5%;
    }

    div.h2container {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }

    article div.mainNewsFlash {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    article div.mainNewsFlash {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    h2.indexH2 {
        justify-content: center;
        padding: 0;
        font-size: 8vw;
    }

    div.mainImgContainerIndex {
        width: 115%;
        height: 100%;
    }

    div.mainNewsFlashContainer {
        display: flex;
    }

    div.mainNewsFlashContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        border-radius: 20px;
        font-size: 0.9em;
    }

    div.newsFlashContent {
        font-size: 0.8em;
    }

    div.newsFlashContainer {
        display: flex;
        flex-direction: column;
    }

    /* active main news flash design */

    div.mainNewsFlash.active div.mainNewsFlashContainer {
        position: fixed;
        width: auto;
        height: auto;
        top: 6%;
        left: 8%;
        right: 8%;
        bottom: 6%;
        margin-top: 0;
        margin-left: 0;
    }

    div.mainNewsFlash.active div.mainNewsFlashContainer {
        display: flex;
        flex-direction: column;
    }

    div.mainNewsFlash.active div.mainImgContainerIndex {
        width: 100%;
        height: 40%;
        display: block;
    }

    div.mainNewsFlash.active img.mainImg {
        object-position: top;
    }

    div.mainNewsFlash.active div.mainNewsFlashContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 60%;
        padding: 10px;
        font-size: 0.7em;
    }

    div.mainNewsFlash.active div.mainNewsFlashContainer h3 {
        font-size: 1.1em;
    }

    div.mainNewsFlash.active h3.mainFlashTitle {
        text-align: center;
    }

    div.mainNewsFlash.active p.newsFlashText {
        -webkit-line-clamp: 5;
    }

    /* active secondary newsflash design */

    div.newsFlash.active:before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .9;
        background-color: #000;
    }
    
    div.newsFlash.active div.newsFlashContainer {
        position: fixed;
        width: auto;
        height: auto;
        top: 6%;
        left: 8%;
        right: 8%;
        bottom: 6%;
        margin-top: 0;
        margin-left: 0;
    }
    
    div.newsFlash.active div.newsFlashContainer {
        display: flex;
        flex-direction: column;
    }

    div.newsFlash.active div.imgContainerIndex {
        width: 100%;
        height: 40%;
        display: block;
    }

    div.newsFlash.active div.newsFlashContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 60%;
        padding: 10px 10px 5px;
        margin-bottom: 5px;
    }

    div.newsFlash.active div.newsFlashContainer h3 {
        font-size: 1.1em;
    }

    div.newsFlash.active h3 {
        text-align: center;
    }

    div.newsFlash.active div.newsFlashContent p.newsFlashText {
        -webkit-line-clamp: 5;
    }


    /* hide text on scondary updates */

    div.newsFlash p.newsFlashText, div.mainNewsFlash p.newsFlashText {
        display: none;
        height: 0%;
    }

    div.newsFlash.active p.newsFlashText, div.mainNewsFlash.active p.newsFlashText {
        display: block;
        height: auto;
    }

    div.newsFlash div.imgContainerIndex {
        display: none;
    }


    div.newsFlash.active div.imgContainerIndex {
        display: block;
    }

    /* more button */

    div.buttonContainerIndex {
        margin: 3em auto 1em;
    }
    
    button.buttonIndex {
        padding: 1em 2em;
        border-radius: 20px;
        color: #f3f3f3;
        background-color: #090B3C;
    }
}