@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Zen+Tokyo+Zoo&display=swap");

.adviceBody {
  margin: 0;
  background-color: #e0f8fe;
}

/* ***********TITRE + IMAGE*************** */


.adviceH2 {
  background-image: url(../assets-img/adviceh2img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #fefacc;
  font-family: "Zen Tokyo Zoo", cursive;
  font-weight: normal;
  margin-top: 0;
}

/* ***************MAIN******************** */

.adviceIntro {
  font-weight: bold;
  font-size: 120%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.adviceMain {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
  max-width: 120ch;
}
.adviceConclusion {
  font-size: 120%;
  font-weight: bold;
}
.advice1, .advice2, .advice3, .advice4, .advice5 {
  padding: 3rem;
  margin-right: 1rem;
  line-height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: -10px 5px 5px grey;
  padding: 10px;
  margin-bottom: 3rem;
}
.adviceMain img{
  width: 15rem;
  height: 15rem;
  border: 1px solid black;
  border-radius: 20px;
}

.leftimg{
  margin-right: 1rem;
}
.rightimg{
  margin-left: 1rem;
}

/* ************RESPONSIVE********* */

/* MOBILE */

@media screen and (max-width: 600px) {
  .adviceMain {
   margin-left: 2rem;
   margin-right: 2rem;
   
  }
  .advice1, .advice2, .advice3, .advice4, .advice5 {
    display: flex;
    flex-direction: column; 
}
.adviceMain img{
    width: 10rem;
    height: 10rem;
  }
}


/******************** TABLET *******************/


@media screen and (min-width: 480px) and (max-width: 1024px) {
  .adviceMain {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}


/***************** DESKTOP ********************/


@media screen and (min-width: 1024px) and (max-width: 1440px) {
 .adviceMain {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.25rem;
  }
}
